---

---
<section id="sidebar" class="w-64 h-full bg-[#1a1a1a] p-6 hidden md:block">
    <nav class="mt-8 flex flex-col gap-4">
        <a href="/" class="flex flex-col items-center my-8">
        <img src="public/Logo-Lux-Dorado.svg" alt="Logo de Lux Bartenders" class="h-10 w-auto" />
        <p class="text-center text-amber-300">Admin Suite</p>
        </a>
        <a href="/admin/dashboard" class="hover:text-amber-300">Dashboard</a>
        <a href="/admin/clientes" class="hover:text-amber-300">Clientes</a>
        <a href="/admin/cotizaciones" class="hover:text-amber-300">Cotizaciones</a>
        <a href="/admin/gestionEventos" class="hover:text-amber-300">Eventos</a>
        <a href="/admin/recetas" class="hover:text-amber-300">Recetas</a>
        <a href="/admin/requerimiento" class="hover:text-amber-300">Requerimientos</a>
        <a href="/admin/editPagina" class="hover:text-amber-300">Editar Pagina</a>
        <a href="/toDoList" class="hover:text-amber-300">To Do List</a>
        <a href="/admin/usuarios" class="hover:text-amber-300">Usuarios</a>
    </nav>
</section>