---
---

<section class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between w-full not-[]:px-6 md:px-16 py-20 gap-10">
  <!-- Texto a la izquierda centrado -->
  <div class="w-full md:w-1/2 mt-10 flex items-center justify-center">
    <div class="space-y-6 text-center md:text-left transition-all duration-1000 ease-in-out transform animate-fade-in">
      <h2 class="text-5xl font-bold text-[#FFD700]">¿Quiénes somos?</h2>
      <p class="text-lg leading-relaxed text-gray-200">
        En <span class="text-[#FFD700] font-semibold">LUX</span>, no solo servimos cócteles: creamos experiencias sensoriales únicas. 
        Nuestro equipo de bartenders apasionados fusiona técnica, creatividad y amor por el detalle en cada presentación.
      </p>
      <p class="text-lg leading-relaxed text-gray-300">
        La excelencia en el servicio es nuestro pilar, y el trabajo en equipo nuestra receta secreta. Desde eventos íntimos hasta celebraciones masivas, llevamos el arte de la coctelería a otro nivel.
      </p>
      <p class="text-lg text-[#FFD700] font-medium">Descubre por qué somos tu mejor elección.</p>
    </div>
  </div>

  <!-- Video a la derecha -->
  <div class="w-full md:w-1/2 transition-opacity duration-1000  animate-fade-in">
    <video class="rounded-xl shadow-xl w-full" autoplay muted loop playsinline>
      <source src="/public/assets/videos/prueva.mp4" type="video/mp4" />
      Tu navegador no soporta este video.
    </video>
  </div>
</section>
