---
// import LogoLux from "../components/LogoLux.astro";
import '../styles/global.css';

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LUX Admin</title>
  </head>
  <body class="flex bg-black text-white min-h-screen">

    <!-- Sidebar -->
    <aside>
      <slot name="sidebar"/>
    </aside>

    <!-- Main content -->
    <main>
      <slot name="DashboardCard"/>
    </main>
    
  </body>
</html>
