---
import './src/styles/global.css';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lux</title>
	</head>
	<body class="bg-black text-white">
		<nav>
			<slot name="navbar"/>
		</nav>

		<main>
			<section>
				<slot name="hero" />
			</section>
			<section>
				<slot name="coctail-card" />
			</section>
			
			<!-- pag carta -->
			<section>
				<slot name="carta-autor" />
			</section>
			<section>
				<slot name="carta-shot" />
			</section>
			<section>
				<slot name="carta-mixologia" />
			</section>
			<section>
				<slot name="carta-cero-alcohol" />
			</section>
			<section>
				<slot name="carta-clasica" />
			</section>
			
			<!-- pag quienes somos -->
			<section>
				<slot name="conocenos" />
			</section>
			<section>
				<slot name="mision-vision" />
			</section>
			
			<!-- pag contacto -->
			<section>
				<slot name="formulario" />
			</section>

			<!-- pag redes -->
			<section>
				<slot name="redes" />
			</section>
		</main>

		<footer>
			<slot name="footer" />
		</footer>
		<slot />
	</body>
</html>
